@import '../../assets/fonts/fonts.scss';

$primary-color: #12b0c9;
$secondary-color:#cae05e;
$font-default: 'Open Sans', sans-serif;

.containerPage {
  text-align: center;
  display:block;
  flex-direction:row;
  padding: 0px 40px;
  .textLogo {
    color: $primary-color;
    font-size: 48px;
    font-family: Fancy Horror;
    text-shadow: 0.1em 0.1em $secondary-color;
    padding-bottom:30px;

  }
  .buttonBackHome{
    margin-left: 30px;
    height: 35px;
    width: 200px;
    background-color: #48c916;
    color: white;
    text-transform: none;
    font-family: $font-default;
    font-size: 14px;
    margin-bottom: 20px;
    &:hover{
      background-color: #48c916;
      opacity: 0.5;
    }
  }
  .containerList {
    .MuiTableCell-root {
      font-weight: 400;
      font-family: $font-default;
      height: 20px !important;
    }
    .tableCellHeadFirst {
      color: #fff;
      background-color: $primary-color;
      font-weight: 700 !important;
    }
    .tableCellHead {
      color: #fff;
      background-color: $primary-color;
      font-weight: 700 !important;
      text-align: center;
    }
  }
}
