@import '../../assets/fonts/fonts.scss';
@font-face {
  font-family: "Fancy Horror";
  src: local('Lato'), url('../../assets/fonts/get_schwifty.ttf') format('opentype');
}
$primary-color: #12b0c9;
$secondary-color:#cae05e;
$font-default: 'Open Sans', sans-serif;

.containerLogo {
  text-align: center;
  display:block;
  flex-direction:row;
  .textLogo {
    color: $primary-color;
    font-size: 58px;
    font-family: Fancy Horror;
    text-shadow: 0.1em 0.1em $secondary-color;
    padding-bottom:30px;

  }
  .imageLogo {
    width: 460px;
    height: 320px;
  }
}
.containerPagination{
  padding: 20px 0;
  > nav{
    direction:column !important;
    align-items:center !important;
    justify-content:center !important;
    display: flex !important;
  }
  .MuiPaginationItem-page.Mui-selected {
    color: white !important;
    background-color: $secondary-color!important;
  } 
  .MuiSvgIcon-root{
    color: $secondary-color!important;
  }
}
.cardContainer{
  border: 5px dashed $secondary-color;
  margin: 18px !important;
  display: flex;
  border-radius: 25px !important;
  cursor: pointer;
  .containerImage{
    border-radius: 180px;
    padding: 5px
  }
  .primaryText{
    color: $primary-color !important;
    padding-left: 10px;
    font-size: 16px !important;
    font-family: $font-default;
    font-weight: 700;
    text-shadow: 0.1em 0.1em $secondary-color;
  }
  .secondaryText{
    color: black !important;
    padding-left: 15px;
    font-size: 14px !important;
    font-weight: 700;
    text-transform: capitalize;
    font-family: $font-default;
    text-shadow: 0.1em 0.1em $secondary-color;
    padding-bottom: 10px;
  }
}